body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-app {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.full-page-app {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-description {
  margin-top: 50px;
  font-size: 7em;
  text-align: center;
  color: darkgreen;
}

.container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card {
  width: 97%;
  max-width: 1500px;
  margin: 20px;
  border: 2px solid #276749;
  border-radius: 8px;
  background: #FFFCFC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section {
  flex: 1;
  padding: 50px;
}

.image-section .farm-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  margin-left: 25px;
}

.card h2 {
  color: #276749;
  margin: 10px 0;
  font-size: 28px;
}



.card p {
  color: gray;
  font-size: 22px;
  margin-bottom: 25px;
}

.highlight-list {
  list-style-type: none;
  color: gray;
  font-size: 22px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.footer-spacer {
  height: 30.3%;
}
.rating-spacer{
  height: 20%;
}
.contact-spacer{
  height: 220%;
}

hr{
  width:109.7%;
  border: 0;
  height: 3px;
  background: #003f17;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .full-page-app {
    max-width: 100%;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .image-section .farm-image {
    height: auto;
  }

  .title-description {
    font-size: 2em;
  }

  .card h2 {
    font-size: 24px;
  }

  .card p {
    font-size: 18px;
  }

  .highlight-list {
    font-size: 18px;
  }
  hr{
    max-width:125%;
  }
}
